<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/Atemplate :: head">
</head>
<body>
	<header th:replace="plantillas/Atemplate :: header"></header>

	<div class="container">
		<div class="card bg-light">
		<form th:action="@{/carreras/guardar}" th:object="${carreras}"method="POST">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body  col-8 mx-auto">

				
					

					<div class="form-group row">
						<input type="hidden" th:field="*{idcarrera}"
							class="form-control form-control-sm col-6" id="idcarrera">
					</div>

					<div class="form-group row">
						<label class="col-md-3" for="nomcarrera">Carrera</label> <input
							th:field="*{nomcarrera}" type="text"
							class="form-control form-control-sm col" id="nomcurso"
							placeholder="nomcarrera"> <small></small>
					</div>
				
			</div>
			<div class="card-footer bg-dark" style ="text-align: center">
				<input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
				<a th:href="@{/carreras/listar}" class="btn btn-primary btn-sm">Regresar</a>
			</div>
			</form>
		</div>
	</div>

	<footer th:replace="plantillas/Atemplate :: footer"></footer>
</body>

</html>