<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "plantillas/Ptemplate :: head">
</head>
<body class="bodygeneral">
		<header th:replace="plantillas/Ptemplate :: header"></header>
	<div class="container">
		
		<div id="tabledataprof">
		<div> <h1 style="text-align: center;" data-th-text="'Bienvenido/a'+'  :  '+ ${profe.prof_nom} + ' ' + ${profe.prof_ape}"></h1> </div>
		<br/>
		<table class="table">
					<tbody><!-- /*th:object="${profe}" -->
					
						<tr>
							<th scope="row">Especialidad</th>
							<td data-th-text="${profe.prof_especialidad}">
						</tr>
						<tr>
							<th scope="row">Codigo / Identificador</th>
							<td data-th-text="${profe?.idprofesor}">
						</tr>			
					</tbody>
				</table>
		</div>
			
		<div class="row table-responsive">
		<div> <h1 style="text-align: center;" th:text="${titulo}"></h1> </div>
								
			<table class="table">
				<thead class="thead-dark"> 
				<tr>
				 <th scope="col">ALUMNO</th>
				
				 <th scope="col">PEA 1</th>
				 <th scope="col">PEA 2</th>
				 <th scope="col">PEA 3</th>
				 <th scope="col">PEA 4</th>
				 <th scope="col">PARCIAL</th>
				 <th scope="col">FINAL</th>
				 <th scope="col">SUSTI</th>
				 <th scope="col">PROMEDIO</th>
				  <th scope="col"></th>
				 </tr>				 
				</thead>
				
				<tbody>
				<tr th:each="nota:${notas}">
					<td th:text="${nota?.alumno?.alum_nom}+' '+${nota?.alumno?.alum_ape}"></td>
				
					<td th:text="${nota?.nota1}"></td>
					<td th:text="${nota?.nota2}"></td>
					<td th:text="${nota?.nota3}"></td>
					<td th:text="${nota?.nota4}"></td>
					<td th:text="${nota?.exparcial}"></td>
					<td th:text="${nota?.exfinal}"></td>
					<td th:text="${nota?.exsustitutorio}"></td>
					<td th:text="${nota?.promediofinal}"></td>
					<td> <a class ="btn btn-primary btn-sm" th:href="@{/notas/editar/hfu=}+${nota?.alumno?.idalumno}+@{&cbt=}+${nota?.idcurso}+@{&ki=}+${nota?.idreporte}" th:text="'Agregar Notas'" title ="Agregar Notas"></a></td>
				</tr>
				</tbody>
			</table>
			
		</div>

	<div class="bodysimple">
			<a class="btn btn-primary btn-sm" th:href="@{/cp/menu/profesor}"
				th:text="'Regresar'"></a>
		</div>
		</div>
		<footer th:replace="plantillas/Ptemplate :: footer"></footer>
</body>
</html>