<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "plantillas/Atemplate :: head">
</head>
<body class="bodygeneral">
		<header th:replace="plantillas/Atemplate :: header"></header>
		<div  class="bodysimple"> <h1 class="font-weight-bold text-center" th:text="'Cursos con sus respectivas Carreras (Asociación)'" style="background-color: rgba(255, 255, 255, .8);font-size: 1.8rem;"></h1> </div><!--  text-info -->
		<div  class="bodysimple"><a class ="btn btn-primary" th:href="@{/cc/crear}"
				th:text="'Nuevo Ingreso'" title ="Crear nueva relacion"></a></div>
		<div class="container">
		
			 <!-- <div class="table-responsive"> -->
			<table class="table" style="background-color: rgba(251,248,202,.85);">
				<thead class="thead-dark"> 
				<tr>
				 <th scope="col">Id</th>
				 <th scope="col">Carrera</th>
				 <th scope="col">Ciclo</th>
				 <th scope="col">Curso</th>
				 <th scope="col">Acciones</th>
				 <th scope="col">Acciones</th>
				 </tr>				 
				</thead>
				
				<tbody>
				<tr th:each="cc:${carreracurso}">
					<th scope="row" th:text ="${cc.idcc}"></td>
					<td th:text="${cc?.carrera?.nomcarrera}"></td>
						<td th:text="${cc?.ciclo}"></td>
					<td th:text="${cc?.ocurso?.nomcurso}"></td>
					
					<td>
					<a class ="btn btn-warning" th:href="@{/cc/editar/} + ${cc?.idcc}"
						th:text="'Editar'" title ="Editar Registro"></a>			
					</td>
					
					<td>
					<a class ="btn btn-danger" th:href="@{/cc/eliminar/} + ${cc?.idcc}"
						th:text="'Eliminar'" title ="Eliminar Registro"
						onclick="return confirm('Esta seguro de eliminar el registro?');"></a>			
					</td> 
				</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col">
					<nav aria-label="Pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
								<a class="page-link" th:href="@{/cc/listar}+@{|?page=${prev}|}">Anterior</a>
							</li>
							<li class="page-item" th:each="page : ${pages}" 
							th:classappend="${current == page ? 'active': ''}">
								<a class="page-link" th:href="@{/cc/listar}+@{|?page=${page}|}" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
								<a class="page-link" th:href="@{/cc/listar}+@{|?page=${next}|}">Siguiente</a>
							</li>
						</ul>
					</nav>
				</div>
		</div>
			<div class="bodysimple">
			<a class="btn btn-primary btn-sm" th:href="@{/admin/menu}"
				th:text="'Regresar'"></a>
		</div>
		</div>
		<footer th:replace="plantillas/Atemplate :: footer"></footer>
</body>
</html>